.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.login-card {
  max-width: 400px;
  background-color: #ee8989;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

.logo-container {
  margin-bottom: 20px;
}

.title {
  color: #ffffff;
}

.input-field {
  width: 100%;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.login-button {
  background-color: #ffffff;
  color: #fdfdfd;
}

.registration-button {
  color: #f1a1a1;
  background-color: #ffffff;
  margin-top: 10px;
  border: 1px solid #ffffff;
}

