.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
}

.table {
  width: 600px;
  border-collapse: collapse;
}

.mat-column-codigo,
.mat-column-fechaSolicitud,
.mat-column-numRespuestas,
.mat-column-descripcion {
  padding: 8px;
  border: 1px solid black;
}

.mat-header-cell {
  font-weight: bold;
  text-align: left;
  border: 1px solid black;
}

.mat-row:hover {
  background-color: #f5f5f5;
}

.mat-paginator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.add-button {
  background-color: #e78787 !important;
  color: white !important;
}
.table td, .table th {
  border-left: 2px solid #ea7070;
  border-right: 2px solid #ef7575;
}
