<div class="buttons-container">
  <button mat-raised-button color="primary" (click)="openAgregarProductoModal()">Agregar Producto</button>
  <button mat-raised-button color="primary" (click)="openFiltrarProductoModal()">Filtrar Productos</button>
</div>
<h2 class="title">Inventario de Productos</h2>
<table mat-table [dataSource]="dataSource" class="table">
  <!-- Columnas de la tabla -->
  <ng-container matColumnDef="inventoryId">
    <th mat-header-cell *matHeaderCellDef>Código</th>
    <td mat-cell *matCellDef="let item">{{ item.inventoryId }}</td>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Producto</th>
    <td mat-cell *matCellDef="let item">{{ item.quantity }}</td>
  </ng-container>
  <ng-container matColumnDef="cantidad">
    <th mat-header-cell *matHeaderCellDef>Cantidad</th>
    <td mat-cell *matCellDef="let item">{{ item.cantidad }}</td>
  </ng-container>
  <ng-container matColumnDef="categoria">
    <th mat-header-cell *matHeaderCellDef>Categoría</th>
    <td mat-cell *matCellDef="let item">{{ item.categoria }}</td>
  </ng-container>
  <ng-container matColumnDef="fechaIngreso">
    <th mat-header-cell *matHeaderCellDef>Fecha de Ingreso</th>
    <td mat-cell *matCellDef="let item">{{ item.fechaIngreso | date }}</td>
  </ng-container>
  <ng-container matColumnDef="fechaCaducidad">
    <th mat-header-cell *matHeaderCellDef>Fecha de Caducidad</th>
    <td mat-cell *matCellDef="let item">{{ item.fechaCaducidad | date }}</td>
  </ng-container>
  <ng-container matColumnDef="proveedor">
    <th mat-header-cell *matHeaderCellDef>Proveedor</th>
    <td mat-cell *matCellDef="let item">{{ item.proveedor }}</td>
  </ng-container>
  <ng-container matColumnDef="precioCosto">
    <th mat-header-cell *matHeaderCellDef>Precio de Costo</th>
    <td mat-cell *matCellDef="let item">{{ item.precioCosto }}</td>
  </ng-container>
  <ng-container matColumnDef="precioVenta">
    <th mat-header-cell *matHeaderCellDef>Precio de Venta</th>
    <td mat-cell *matCellDef="let item">{{ item.precioVenta }}</td>
  </ng-container>

  <!-- Cabeceras de la tabla -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!-- Filas de la tabla -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
