<div class="button-container">
  <button (click)="openFiltrarProveedoresModal()">Filtrar Proveedor</button>
  <button mat-raised-button color="warn">Visualizar Favoritos</button>
</div>
<div class="container">
  <h2 class="title">Lista de Proveedores</h2>


  <table mat-table [dataSource]="dataSource" class="table" matSort>
    <!-- Código -->
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let supplier">{{ supplier.codigo }}</td>
    </ng-container>

    <!-- Proveedor -->
    <ng-container matColumnDef="proveedor">
      <th mat-header-cell *matHeaderCellDef>Proveedor</th>
      <td mat-cell *matCellDef="let supplier">{{ supplier.proveedor }}</td>
    </ng-container>

    <!-- Departamento -->
    <ng-container matColumnDef="departamento">
      <th mat-header-cell *matHeaderCellDef>Departamento</th>
      <td mat-cell *matCellDef="let supplier">{{ supplier.departamento }}</td>
    </ng-container>

    <!-- RUC -->
    <ng-container matColumnDef="ruc">
      <th mat-header-cell *matHeaderCellDef>RUC</th>
      <td mat-cell *matCellDef="let supplier">{{ supplier.ruc }}</td>
    </ng-container>

    <!-- Teléfono -->
    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef>Teléfono</th>
      <td mat-cell *matCellDef="let supplier">{{ supplier.telefono }}</td>
    </ng-container>

    <!-- Columnas de la tabla -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
