<div class="container">
  <div class="logo-container">
    <img class="logo" src="assets/logo.png" alt="Logo">
  </div>
  <mat-card class="registration-card">
    <mat-card-header>
      <div class="card-header">
        <h2 class="title">REGISTRATE</h2>
      </div>
    </mat-card-header>
    <mat-card-content>
      <form>
        <form>
          <mat-form-field appearance="outline" class="input-field white-input">
            <mat-label>Usuario</mat-label>
            <input matInput [(ngModel)]="registerUsername" name="registerUsername" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="input-field white-input">
            <mat-label>Contraseña</mat-label>
            <input matInput [(ngModel)]="registerPassword" name="registerPassword" type="password" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="input-field white-input">
            <mat-label>Correo</mat-label>
            <input matInput [(ngModel)]="registerEmail" name="registerEmail" type="email" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="input-field white-input">
            <mat-label>Celular</mat-label>
            <input matInput [(ngModel)]="registerPhone" name="registerPhone" required>
          </mat-form-field>
          <div class="button-container">
            <button mat-raised-button color="primary" class="register-button" (click)="register()" [routerLink]="'/body'">Registrarse</button>
          </div>
        </form>
      </form>
    </mat-card-content>
  </mat-card>
</div>
