.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5; /* Fondo gris claro */
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  width: 150px; /* Ajusta el tamaño según tus necesidades */
  height: auto;
}

.registration-card {
  max-width: 400px;
  width: 100%;
  background-color: #c62828; /* Rojo oscuro */
  color: white; /* Texto blanco */
}

.card-header {
  padding: 20px;
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  margin-bottom: 20px;
}

.white-input .mat-form-field-outline {
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
}

.register-button {
  background-color: blue;
  color: white;
}
